<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths js-focus-visible" dir="ltr" lang="en-US" style="" data-js-focus-visible=""></html><!--<![endif]-->
    <body class="page-home desktop" style="zoom: 1;">
    
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KPPHMK9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<head>
    <title>SEO Company &amp; Web Design Agency | OuterBox eCommerce Website Design &amp; Development Services</title>
    <meta name="description" content="For 15+ years we've delivered SEO services &amp; professional website design, specializing in eCommerce digital marketing. We're a #1 ranked SEO company, making OuterBox your go-to partner.">
    <meta name="keywords" content="Ecommerce Web Design, Ecommerce Website Design, Ecommerce Design, Ecommerce Websites, Professional Web Design, Professional Website Design, Web Development, Ecommerce Website Development, Ecommerce SEO, Web Design Company, SEO Services, SEO Company">
    
    <script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en.xwJu9mnmcMg.O/m=auth/exm=partnersbadge/rt=j/sv=1/d=1/ed=1/am=wQE/rs=AGLTcCPhziFv0ZUgwIM1cgUEDP9FSX8uzg/cb=gapi.loaded_1" async=""></script><script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en.xwJu9mnmcMg.O/m=partnersbadge/rt=j/sv=1/d=1/ed=1/am=wQE/rs=AGLTcCPhziFv0ZUgwIM1cgUEDP9FSX8uzg/cb=gapi.loaded_0" async=""></script><script async="" src="//www.gstatic.com/wcm/loader.js"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-KPPHMK9"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KPPHMK9');</script>
    
    
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-KPPHMK9':true});</script>
    <meta property="og:title" content="OuterBox - Top Rated Web Design, eCommerce Website Development &amp; SEO Company">
    <meta property="og:type" content="website">
    <meta property="og:description" content="OuterBox offers web design &amp; SEO services, specializing in growing eCommerce businesses. We're a #1 ranked SEO company, making OuterBox your go-to digital partner.">
    <meta property="og:image" content="https://www.outerboxdesign.com//outerboxdesign.com/frontend/img/outerbox.jpg">
    <meta property="og:site_name" content="OuterBox">
    <meta property="og:url" content="https://www.outerboxdesign.com/">
    <meta name="robots" content="index,follow">
    <meta itemprop="name" content="eCommerce Website Design, SEO and Professional Web Design by OuterBox - Top Rated Ecommerce SEO &amp; Ecommerce Development Company">
    <meta itemprop="description" content="OuterBox offers Professional Web Design Services and specializes in eCommerce Website Design and Development. SEO and Search Engine Marketing services are also offered, making OuterBox your Go-To partner.">
    <meta name="p:domain_verify" content="9716df30b8cbd794671c9d01309e26a8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="copyright" content="Copyright (c) 2004-2020 OuterBox">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@outerbox">
    <meta name="twitter:creator" content="@outerbox">
    <meta name="twitter:url" content="www.outerboxdesign.com">
    <meta name="twitter:title" content="OuterBox - Custom eCommerce Website Design &amp; SEO">
    <meta name="twitter:description" content="OuterBox specializes in eCommerce web design and search engine optimization (SEO) for growing online businesses.">
    
    <link rel="canonical" href="https://www.outerboxdesign.com/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="//outerboxdesign.com/frontend/img/favicon.ico">
    <link rel="apple-touch-icon" href="//outerboxdesign.com/frontend/img/apple-touch-icon-precomposed.png">
    
    <link rel="stylesheet" href="//outerboxdesign.com/frontend/css/normalize.css">
    <link rel="stylesheet" href="//outerboxdesign.com/frontend/css/form.css">
    <link rel="stylesheet" href="//outerboxdesign.com/frontend/css/skeleton.css">
    <link rel="stylesheet" href="//outerboxdesign.com/frontend/js/fancybox/jquery.fancybox.custom.css">
    <link rel="stylesheet" href="//outerboxdesign.com/frontend/js/owl/owl.carousel.css">
    <link rel="stylesheet" href="//outerboxdesign.com/frontend/js/owl/owl.theme.css">
    <link rel="stylesheet" href="//outerboxdesign.com/frontend/js/owl/owl.transitions.css">
    <link rel="stylesheet" href="//outerboxdesign.com/frontend/css/jquery.bxslider.css">
    <link rel="stylesheet" href="//outerboxdesign.com/frontend/css/layout.css">
    <link rel="stylesheet" href="//outerboxdesign.com/frontend/css/responsive.css">
    <!--[if IE ]><link rel="stylesheet" href="//outerboxdesign.com/frontend/css/ie.css"><![endif]-->
    
    <script src="//outerboxdesign.com/frontend/js/vendor/modernizr-2.6.2.min.js"></script><script data-dapp-detection="">!function(){let e=!1;function n(){if(!e){const n=document.createElement("meta");n.name="dapp-detected",document.head.appendChild(n),e=!0}}if(window.hasOwnProperty("ethereum")){if(window.__disableDappDetectionInsertion=!0,void 0===window.ethereum)return;n()}else{var t=window.ethereum;Object.defineProperty(window,"ethereum",{configurable:!0,enumerable:!1,set:function(e){window.__disableDappDetectionInsertion||n(),t=e},get:function(){if(!window.__disableDappDetectionInsertion){const e=arguments.callee;e&&e.caller&&e.caller.toString&&-1!==e.caller.toString().indexOf("getOwnPropertyNames")||n()}return t}})}}();</script>
    <script type="text/javascript">
    (function(a,e,c,f,g,h,b,d){var k={ak:"1071024951",cl:"kURjCNTt5G0Qt5ba_gM",autoreplace:"866-647-9218"};a[c]=a[c]||function(){(a[c].q=a[c].q||[]).push(arguments)};a[g]||(a[g]=k.ak);b=e.createElement(h);b.async=1;b.src="//www.gstatic.com/wcm/loader.js";d=e.getElementsByTagName(h)[0];d.parentNode.insertBefore(b,d);a[f]=function(b,d,e){a[c](2,b,k,d,null,new Date,e)};a[f]()})(window,document,"_googWcmImpl","_googWcmGet","_googWcmAk","script");
    </script>
    <script type="application/ld+json">
                        { "@context" : "https://schema.org", "@type" : "Organization", "name" : "OuterBox SEO & Web Design", "url" : "https://www.outerboxdesign.com", "telephone" : "866-647-9218", "logo" : "https://www.outerboxdesign.com//outerboxdesign.com/frontend/img/outerbox-logo.jpg", "sameAs" : [ "https://www.facebook.com/OuterBox", "https://twitter.com/outerbox","https://www.linkedin.com/company/outerbox-solutions-inc-/", "https://www.youtube.com/user/outerbox" ], "contactPoint" : [ { "@type" : "ContactPoint", "telephone" : "+1-866-647-9218", "contactType" : "sales", "contactOption" : "TollFree", "areaServed" : "US" } ], "address": [ { "@type": "PostalAddress", "addressLocality": "Akron", "addressRegion": "OH", "postalCode": "44321", "streetAddress": "175 Montrose W Ave 2nd Floor" } ] }
                    </script>
    <style type="text/css">.fancybox-margin{margin-right:0px;}</style><style type="text/css">
    @font-face {
      font-weight: 400;
      font-style:  normal;
      font-family: 'Circular-Loom';
    
      src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Book-cd7d2bcec649b1243839a15d5eb8f0a3.woff2') format('woff2');
    }
    
    @font-face {
      font-weight: 500;
      font-style:  normal;
      font-family: 'Circular-Loom';
    
      src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Medium-d74eac43c78bd5852478998ce63dceb3.woff2') format('woff2');
    }
    
    @font-face {
      font-weight: 700;
      font-style:  normal;
      font-family: 'Circular-Loom';
    
      src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Bold-83b8ceaf77f49c7cffa44107561909e4.woff2') format('woff2');
    }
    
    @font-face {
      font-weight: 900;
      font-style:  normal;
      font-family: 'Circular-Loom';
    
      src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Black-bf067ecb8aa777ceb6df7d72226febca.woff2') format('woff2');
    }</style></head>
    <header id="header-wrapper">
      <div id="header-2017">
      <div class="orange-bar" style="height: 25px; color: white; font-weight: bold" align="center"><a href="/flywheel/" target="_blank">OuterBox Launches <span class="visible-desktop">a New Program - Welcome </span><em>FLYWHEEL</em><span class="visible-desktop"> - Learn More</span> »</a></div>
      <div id="logo-estimate">
      <div class="container clearfix">
      <div class="three columns" id="logo">
      <div class="">
      <span id="navlink-static"></span><a class="link link--outerbox" href="https://www.outerboxdesign.com/" title="Website Design &amp; SEO Company: OuterBox"><span data-letters="OuterBox">OuterBox</span><span class="subtitle">Web Design</span><span class="plus">+</span><span class="subtitle">Ecommerce</span><span class="plus">+</span><span class="subtitle">SEO</span></a>
      </div>
      </div>
      <div id="we-can-help" class="ten columns main-navigation">
      <div id="wch-help">
      <p><span>Need an Expert Team?</span></p>
      <span class="visible-phone" id="mobile-toggle"></span>
      <span id="wch-phone">1-866-647-9218</span>
      </div>
      </div>
      <div class="ten columns new-awards-estimate" id="awards-estimate">
      <div class="awards">
      <span class="award google"></span>
      <span class="award inc500"></span>
      <span class="award hundred"></span>
      </div>
      <a href="https://www.outerboxdesign.com/estimate" id="request-estimate" title="Estimate Request" class="newheader-estimate"><span class="visible-desktop">Get a </span>Free Quote</a>
      </div>
      </div>
      <nav id="main-nav" class="main-nav-full">
      <div class="container clearfix">
      <div class="eighteen columns">
      <ul>
      <li class="has-children hide-popup-nav"> <a href="https://www.outerboxdesign.com/web-design/" title="Website Design">Web Design</a>
      <ul>
      <li><a href="https://www.outerboxdesign.com/web-design/" title="Website Design &amp; Development">Website Design &amp; Development</a></li>
      <li><a href="https://www.outerboxdesign.com/ecommerce-website-design/" title="eCommerce Website Design">eCommerce Website Design</a></li>
      <li><a href="https://www.outerboxdesign.com/web-design/corporate-website-design" title="Corporate Web Design">Corporate Website Design</a></li>
      <li><a href="https://www.outerboxdesign.com/web-design/b2b-website-development" title="B2B Website Design">B2B Website Design</a></li>
      <li><a href="https://www.outerboxdesign.com/web-design/website-maintenance/">Website Maintenance</a></li>
      <li><a href="https://www.outerboxdesign.com/web-design/website-development-consulting" title="website design consulting services">Website Development Consulting</a></li>
      </ul>
      </li>
      <li class="has-children hide-popup-nav"> <a href="https://www.outerboxdesign.com/ecommerce-website-design/" title="eCommerce Web Design">Ecommerce Web Design</a>
      <ul>
      <li><a href="https://www.outerboxdesign.com/ecommerce-website-design/" title="B2C eCommerce">B2C eCommerce</a></li>
      <li><a href="https://www.outerboxdesign.com/ecommerce-website-design/B2B-platform" title="B2B eCommerce">B2B eCommerce</a></li>
      </ul>
      </li>
      <li class="has-children hide-popup-nav"> <a href="https://www.outerboxdesign.com/seo-agency" title="SEO Agency Services">SEO Services</a>
      <ul>
      <li><a href="https://www.outerboxdesign.com/search-marketing/search-engine-optimization/">eCommerce SEO</a></li>
      <li><a href="https://www.outerboxdesign.com/search-marketing/search-engine-optimization/seo-lead-generation" title="seo for lead generation">Lead Generation SEO</a></li>
      <li><a href="https://www.outerboxdesign.com/search-marketing/search-engine-optimization/shopify-seo" title="Shopify SEO">Shopify SEO</a></li>
      <li><a href="https://www.outerboxdesign.com/search-marketing/search-engine-optimization/magento-seo" title="Magento SEO">Magento SEO</a></li>
      <li><a href="https://www.outerboxdesign.com/search-marketing/search-engine-optimization/bigcommerce-seo-services" title="BigCommerce SEO">BigCommerce SEO</a></li>
      <li><a href="https://www.outerboxdesign.com/search-marketing/search-engine-optimization/wordpress-seo" title="Wordpress SEO Services">Wordpress SEO</a></li>
      <li><a href="https://www.outerboxdesign.com/search-marketing/search-engine-optimization/woocommerce-seo" title="WooCommerce SEO">WooCommerce SEO</a></li>
      <li><a href="https://www.outerboxdesign.com/search-marketing/search-engine-optimization/volusion-seo/" title="Volusion SEO">Volusion SEO</a></li>
      <li><a href="https://www.outerboxdesign.com/search-marketing/search-engine-optimization/nopcommerce-seo/" title="NopCommerce SEO">NopCommerce SEO</a></li>
      <li><a href="https://www.outerboxdesign.com/amazon-marketing/amazon-seo-services" title="Amazon SEO Services">Amazon SEO</a></li>
      <li><a href="https://www.outerboxdesign.com/search-marketing/search-engine-optimization/seo-consulting-services" title="seo consultant">SEO Consulting</a></li>
      </ul>
      </li>
      <li class="has-children"><a href="https://www.outerboxdesign.com/search-marketing/ppc-management/" title="ppc management">PPC / Paid Search</a>
      <ul>
      <li><a href="https://www.outerboxdesign.com/search-marketing/paid-search-adwords-management/" title="Google Ads Management">Google Ads / AdWords Management</a></li>
      <li><a href="https://www.outerboxdesign.com/search-marketing/google-shopping-campaign-management/" title="google shopping management">Google Shopping Management</a></li>
      <li><a href="https://www.outerboxdesign.com/search-marketing/ppc-management/ppc-lead-generation" title="ppc for lead generation">Lead Generation PPC</a></li>
      <li><a href="https://www.outerboxdesign.com/amazon-marketing/amazon-ppc-management" title="Amazon PPC Management Service">Amazon PPC</a></li>
      </ul>
      </li>
      <li class="has-children"><a href="https://www.outerboxdesign.com/all-services" title="Our Services">Other</a>
      <ul>
      <li><a href="https://www.outerboxdesign.com/search-marketing/conversion-optimization-cro/" title="CRO">Conversion Rate Optimization (CRO)</a></li>
      <li><a href="https://www.outerboxdesign.com/social-media-marketing-management/" title="social media management">Social Media Management</a></li>
      <li><a href="https://www.outerboxdesign.com/digital-marketing/content-marketing-agency" title="content marketing services">Content Marketing</a></li>
      </ul>
      </li>
      <li class="has-children"> <a href="https://www.outerboxdesign.com/company/about-us">Company</a>
      <ul>
      <li><a href="https://www.outerboxdesign.com/company/about-us" title="About Us">About OuterBox</a></li>
      <li><a href="https://www.outerboxdesign.com/company/akron-ohio-office" title="Office Locations">Offices &amp; Directions</a></li>
      <li><a href="https://www.outerboxdesign.com/company/team" title="Team">Our Team</a></li>
      <li><a href="https://www.outerboxdesign.com/press/" title="News">Press &amp; News</a></li>
      <li><a href="https://www.outerboxdesign.com/company/careers" title="Careers">Careers &amp; Openings</a></li>
      <li><a href="https://www.outerboxdesign.com/company/scholarships" title="Scholarship">Scholarships</a></li>
      </ul>
      </li>
      <li class="has-children hide-popup-nav"> <a href="https://www.outerboxdesign.com/work/">Woo</a>
      <ul>
      <li><a href="https://www.outerboxdesign.com/work/website-design-projects" title="Website Design Portfolio">Website Design Projects</a></li>
      <li><a href="https://www.outerboxdesign.com/work/ecommerce-portfolio/case-studies/" title="Case Studies">Case Studies</a></li>
      </ul>
      </li>
      <li class="hide-popup-nav"> <a href="https://www.outerboxdesign.com/web-design-articles/" title="Web Design &amp; SEO Articles">Resources</a></li>
      </ul>
      </div>
      </div>
      </nav>
      </div>
      </div>
      </header>